<launch>

  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="world_name" default="$(find enph_ai)/worlds/353.world"/>
  <arg name="model" default="$(find adeept_awr_description)/urdf/adeept_awr.urdf.xacro"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-x 0.0 -y 0.3 -z 0.5 -Y 1.57 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />

  <node name="robot_pose_publisher" pkg="adeept_awr_gazebo" type="publish_pose.py" output="screen" >
    <param name="link_name" value="adeept_awr::chassis"/>
    <param name="frame_name" value="world"/>
    <param name="publish_rate" value="35" />
  </node>
  
  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30" />
  </node>

  <!-- TYLER ADDITION 2019-07-01 Mon 05:19 PM -->
  <!-- <node pkg="joint_state_publisher" type="joint_state_publisher"  name="joint_state_publisher"/> -->
</launch>
